<!DOCTYPE html>
{% load static %}
	<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
<html style="background-image: url('/static/imgg/fondo.png'); background-position:center; background-repeat:no-repeat; background-size: 100% 100%; background-attachment:fixed;">
		
<head>
		<title>Formulario</title>
		
		<script type="text/javascript">
			function revisar(elemento){
				if(elemento.value==''){
					elemento.className='error';
				}else{
					elemento.className='input';
				}
			}
			
			function revisaNumero(elemento){
				if(elemento.value!==''){
					var data = elemento.value;
					if(isNaN(data)){
						elemento.className='error';
					}else{
						elemento.className='input';
					}
				}
			}
			
			function revisaLongitud(elemento, min){
				if(elemento.value!==''){ 
					var data = elemento.value;
					if(data.length<min){
						elemento.className='error';
					}else{
						elemento.className='input';
					}
				}
			}
			
			function revisarEmail(elemento){
				if(elemento.value!==''){
					var data = elemento.value;
					var exp = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					if(!exp.test(data)){
						elemento.className='error';
					}else{
						elemento.className='input';
					}	
				}
			}
			
			function validar(){
				var datosCorrectos=true;
				var error="";
				if(document.getElementById("nombre").value==""){
					datosCorrectos=false;
					error="\n El Nombre Esta Vacio";
				}
				
				if(document.getElementById("telefono").value==""){
					datosCorrectos=false;
					error="\n Debes Poner Un Tenelefono";
				}
				
				
				if(isNaN(document.getElementById("telefono").value)){
					datosCorrectos=false;
					error="\n El Telefono Solo Debe Tener Numeros";
				}

				if(document.getElementById("postal").value==""){
					datosCorrectos=false;
					error="\n Debes Poner Un Tenelefono";
				}
				
				
				if(isNaN(document.getElementById("postal").value)){
					datosCorrectos=false;
					error="\n El codigo postal Solo Debe Tener Numeros";
				}
				
				var exp = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				if(!exp.test(document.getElementById("email").value)){
					datosCorrectos=false;
					error="\n Email Invalido";
				}
				
				if(document.getElementById("mensaje").value.length<30){
					datosCorrectos=false;
					error="\n El Mensaje Debe Ser Mayor A 30 Caracteres";
				}
				
				if(!datosCorrectos){
					alert('Hay Errores En El formulario'+error);
				}
				
				return datosCorrectos;
				
			}
			
			
		</script>
	</head>
	<body>

		{% if status == 'OK' %}
			<div class="alert alert-success" role="alert" style="background: #2BBBAD;">
				<h1 style="font-family: Arial, Helvetica, sans-serif;">Inicio Sesión Exitoso</h1>
			</div>
		{% elif status == 'ERROR' %}
			<div class="alert alert-danger" role="alert" style="background: #e57373;">
				<h1 style="font-family: Arial, Helvetica, sans-serif;">Ha ocurrido un error al iniciar sesión, verifique su contraseña</h1>
			</div>
		{% endif %}

		
		<div id="contenedor-form">
			<form action="#" method="POST">{% csrf_token %}
                <h1 style="color: whitesmoke;">Inicio de sesión</h1>

				<p class="email">
					<input type="text" class="input" placeholder="Email*" id="email" name="email" onblur="revisar(this); revisarEmail(this)" onkeyup="revisar(this); revisarEmail(this)" autocomplete="off" required>
				</p>

				<p class="telefono">
					<input type="password" class="input" placeholder="Contraseña*" id="pass" name="pass" autocomplete="off" required>
				</p>
				
				<div class="enviar">
					<input type="submit" value="ENVIAR" id="enviar"/>
					<div class="transicion"></div>
				</div>
			</form>
			<br>
			<div class="enviar">
				<button id="enviar"><a href="{% url 'index' %}">Volver</a></button>
			</div>
			<div class="transicion"></div>
		</div>
	</body>
</html>
